header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px red solid;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
}

header img{
    width: 15%;
    margin-left: 100px;
    
}

header .register-block{
    border: 2px red solid;
    display: grid;
    grid-template-columns: 50px 1fr 85px 1fr;
    gap: 25px;
   
}

header p{
margin-top: 0;
}

header .register-block > .cart{
    border: 2px red solid;
    height: fit-content
}

header .search{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 150px;
    
    
    
}